[submodule "picopal-v1"]
	path = picopal-v1
	url = https://github.com/V2RetroComputing/picopal-v1
[submodule "analog-firmware"]
	path = analog-firmware
	url = https://github.com/V2RetroComputing/analog-firmware
[submodule "analog-utilities"]
	path = analog-utilities
	url = https://github.com/V2RetroComputing/analog-utilities
[submodule "analog-preload"]
	path = analog-preload
	url = https://github.com/V2RetroComputing/analog-preload
[submodule "analog-hardware"]
	path = analog-hardware
	url = https://github.com/V2RetroComputing/analog-hardware
